

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
    <div class="govuk-width-container ">
  <nav><a href="/sfcysp-frontend/forecast-request/legal-representative" class="govuk-back-link">Back</a>
</nav>
      <main class="govuk-main-wrapper " id="main-content" role="main">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<form method="post" autocomplete="off" novalidate="">

    <span class="govuk-caption-l">NI number: QQ 12 34 56 C</span>

<h1 class="govuk-heading-xl govuk-!-margin-bottom-6 ">I just need some contact details so we can post the forecast</h1>


<fieldset class="govuk-fieldset govuk-!-margin-bottom-2">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-0">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Third party details</h2>

</legend>

    <div class="govuk-hint">Enter the first name and last name and/or the company or organisation name.</div>

    <div class="govuk-form-group">

      <div class="govuk-form-group">
<label class="govuk-label" for="thirdPartyForename">
  First name
</label>
<input class="govuk-input govuk-!-width-two-thirds" id="thirdPartyForename" name="thirdParty[forename]" type="text">
</div>


      <div class="govuk-form-group">
<label class="govuk-label" for="thirdPartySurname">
  Last name
</label>
<input class="govuk-input govuk-!-width-two-thirds" id="thirdPartySurname" name="thirdParty[surname]" type="text">
</div>


      <div class="govuk-form-group">
<label class="govuk-label" for="thirdPartyOrganisation">
  Company or organisation name
</label>
<input class="govuk-input govuk-!-width-two-thirds" id="thirdPartyOrganisation" name="thirdParty[organisation]" type="text">
</div>

    </div>


</fieldset>

<fieldset class="govuk-fieldset govuk-!-margin-bottom-4">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-0">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">The person you represent</h2>

</legend>

    <div class="govuk-form-group">
<label class="govuk-label" for="forename">
  First name
</label>
<input class="govuk-input govuk-!-width-two-thirds" id="forename" name="forename" type="text">
</div>


    <div class="govuk-form-group">
<label class="govuk-label" for="surname">
  Last name
</label>
<input class="govuk-input govuk-!-width-two-thirds" id="surname" name="surname" type="text">
</div>



</fieldset>

  <div class="govuk-form-group">
<div class="govuk-checkboxes govuk-!-margin-bottom-8" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="welsh" name="welsh" type="checkbox" value="yes">
          <label class="govuk-label govuk-checkboxes__label" for="welsh">
      Welsh language forecast requested
    </label>
        </div>
</div>
</div>







<a href="/standard_journey/postcode" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
  Continue

</a>
</form>
  </div>
</div>
      </main>
    </div>

{% endblock %}
