
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<header class="govuk-header " role="banner" data-module="govuk-header">

  <div class="govuk-header__content">

  <a href="/" class="govuk-header__link govuk-header__link--service-name">
    Support for Check your State Pension forecast
  </a>


  </div>



</header>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
  sfcyspf-prototype
  </h1>


            <br>





            <h2 class="govuk-heading-m">Modelling errors message options</h2>
            <ul class="govuk-list govuk-list--bullet">
            <li>
            <p><a href="/Modelling_errors/improve">option 1 - information bar</a></p>
            </li>
            </ul>
            <ul class="govuk-list govuk-list--bullet">
            <li>
            <p><a href="/Modelling_errors/improve_2">option 2 - blue box</a></p>
            </li>
            </ul>
            <ul class="govuk-list govuk-list--bullet">
            <li>
            <p><a href="/Modelling_errors/improve_3">option 3 - red banner</a></p>
            </li>
            </ul>
            <ul class="govuk-list govuk-list--bullet">
              <li>
              <p><a href="/Modelling_errors/starting_amount">option 4 - break page</a></p>
              </li>
              </ul>
  


{% endblock %}
