
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="NINOstart_sgw2" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">NI number: QQ 12 34 56 C</span>
      <h1 class="govuk-heading-xl">
        Data Validation Issue
      </h1>
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Tell the customer
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
          There is a potential error in the data 
            </p>
            <p class="govuk-notification-banner__heading">
              The information on this page might contain errors. Check the State Pension amounts and the number of qualifying years before you continue.
            </p>
        
         
        

        </div>
      </div>

      <div class="govuk-inset-text">
    <p class="govuk-body govuk-!-font-weight-regular">    <span class="govuk-body govuk-!-font-weight-bold">Process:</span> Check NIRs number of qualifying years and confirm this would give the amount of State Pension shown
<br>


</div>
<br>
<form class="form" action="improve_4" method="post">
<button class="govuk-button" data-module="govuk-button">
  Continue
</button>


    </div>
  </div>

{% endblock %}
