{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--1" id="main-content" role="main"
  <div class="govuk-grid-column-full">
<hr>
  <p>If you need to contact us, use the contact details at the top of the State Pension forecast letter.
    <br>
    <br>
This leaflet gives you general information only and is not a complete statement of the law.
<hr>
<br><br><br>
            <a href="/letters/leaflet_page2" class="govuk-link">Page 2</a>


            </div>
            </div>
            </div>


{% endblock %}
