{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--1" id="main-content" role="main"
  <div class="govuk-grid-column-full">

<br>
<br>


<p>For more information about paying voluntary National Insurance contributions, go to<br>  <b><u>www.gov.uk/voluntary-national-insurance-contributions </u></b>
<br>
<br>

<b>Pension sharing on divorce</b>
<br>
<br>
When a marriage or civil partnership ends, the courts could make a pension sharing order. This is an<br>
amount which is added to or taken away from your State Pension.
<br>
<br>
For more information on your pension sharing order call 0800 731 0175 or  textphone 0800 731 0176.
<br>
<br>
<b>Paying tax on your State Pension</b>
<br>
<br>
You may have to pay tax on your State Pension, depending on your income and the tax rate that<br> applies to you.
<br>
<br>
For more information, go to <b><u>www.gov.uk/tax-on-pension</u></b>
<br>
<br>
<b>If you have worked or lived abroad</b>
<br>
<br>
Your State Pension forecast is based on your UK National Insurance record. You may also get a<br>
State Pension from the country you worked or lived in. If you meet the eligibility criteria, you will have<br>
to claim your pension from that country.
<br>
<br>
For more information, go to <b><u>www.gov.uk/new-state-pension/living-and-working-overseas</u></b>
<br>
<br>
<b>How to claim your State Pension</b>
<br>
<br>
You will not get your State Pension automatically – you have to claim it. If you live in the UK, you should get a letter up to 2 months before you reach State Pension age telling you what to do.
If you live abroad, go to www.gov.uk/state-pension-if-you-retire-abroad
State Pension if you retire abroad
If you live outside of the UK, on or around April of each year (when the payments usually increase),<br>
your payments will only increase if you live in:
<br>
<br>
•	a European Economic Area (EEA) country<br>
•	Gibraltar<br>
•	Switzerland, or<br>
•	a country that has a social security reciprocal agreement with the UK (this does not include<br>Canada or New Zealand).
<br>
<br>
For more information, including which countries are in the EEA and have a reciprocal agreement with<br>
the UK, go to <b><u>www.gov.uk/state-pension-if-you-retire-abroad/rates-of-state-pension</u></b>

<br><br><br>
            <a href="/letters/leaflet_page3" class="govuk-link">Page 3</a>


            </div>
            </div>
            </div>


{% endblock %}
