{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--1" id="main-content" role="main"
  <div class="govuk-grid-column-full">

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
          <div class="app-most-recent">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/88/Department_for_Work_and_Pensions_logo.svg/166px-Department_for_Work_and_Pensions_logo.svg.png" style="width:90px;height:70px;">
</div>
</div>
<div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
            <p class="govuk-body">Newcastle Pension Centre<br>
              The Pension Service 9<br>
              Mail Handling Site A<br>
              Wolverhampton<br>
              WV98 1LU<br><br>
              Telephone 0800 731 0175<br>
              Textphone 0800 731 0176<br><br>
              <p>12 December 2022</p>
              </div>


<div class="govuk-grid-column-one-third">
<p>Address Line 1  <br>
Address Line 2 <br>
Address Line 3  <br>
AA1 1AA
</div>
</div>


          <br>  <br>  <br>
          <div class="govuk-grid-row">
<div class="govuk-grid-column-full">
        <br><br>
<h3 class="govuk-heading-l">Your State Pension forecast</h3>
<hr>

            <p><b>If you would like braille, British Sign Language, a hearing loop, translations, large print,<br> audio or something else,please telephone 0800 731 0469 or textphone 0800<br> 731 7339.</b></p>


<p class="govuk-body">
            Dear Research Participant,<br>
<br>
<h3 class="govuk-heading-m">You can get your State Pension on 6 May 2064<br>
Your estimate up to 5 April 2022 is<br>
£38.98 a week

<br>
<br>




      <p>        Your estimate:<br><br>

•	is not a guarantee and is based on the current law<br>
•	does not include any increase due to inflation.

<br>

<br>

<h3 class="govuk-heading-m">Your forecast if you contribute another 24 years before 5 April<br> 2046 is<br>
£185.15 a week</h3><br>

<p class="govuk-body"><b>State Pension is usually paid every 4 weeks in arrears.<br><br>

You need to continue to contribute National Insurance to reach your forecast.<br><br>

£185.15 a week is the most you can get.<br><br></b>

You cannot get any more than this. You may still need to pay National Insurance<br>contributions until 6 May 2064 if you are working.<br><br><br>

<div class="pagination">

  <a href="/letters/notify4">Letter Page 1</a>&nbsp
  <a class="active" href="/letters/notify4_page2">Letter Page 2</a>&nbsp
  <a href="/letters/notify4_leaflet1">Leaflet Page 1</a>&nbsp
  <a href="/letters/notify4_leaflet2">Leaflet Page 2</a>&nbsp


</div>

</div>


</div>

<!-- </div> -->

</div>
</div>




{% endblock %}
