{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--1" id="main-content" role="main"
  <div class="govuk-grid-column-full">

  <p>  This date may be different if you are self-employed. For more information, go to<br>
    <a href="https://www.gov.uk/tax-national-insurance-after-state-pension-age/stopping-paying-national-insurance" class="govuk-link" rel="noreferrer noopener" target="_blank">www.gov.uk/tax-national-insurance-after-state-pension-age/stopping-paying-national-insurance</a><br><br>

    Your forecast may be different if there are any changes to your National Insurance<br>information.

    There is more about this in the leaflet we have sent you with this letter.<br><br>


    Yours sincerely<br><br>

    Newcastle Pension Centre, Futures Group<br><br>



    <b>Treating people fairly</b><br>
    <p>

    We are committed to the Equality Act 2010 and treating people fairly. To find out more<br> about this law, search ‘Equality’ on <a href="https://www.gov.uk" class="govuk-link" rel="noreferrer noopener" target="_blank">www.gov.uk</a><br><br>


    <b>Call charges</b><br><br>

    Calls to 0800 numbers are free from personal mobiles and landlines from within the UK.<br><br>


    <b>Why DWP needs personal information and how we treat it</b><br><br>

    We treat personal information carefully. We may use it for any of our purposes. To learn more<br>
     about information rights and how we use information, please see our DWP Personal<br>
    Information Charter at <a href="https://www.gov.uk/dwp/personal-information-charter" class="govuk-link" rel="noreferrer noopener" target="_blank">www.gov.uk/dwp/personal information charter</a><br><br><br>

      <div class="pagination">

        <a href="/letters/notify5">Letter Page 1</a>&nbsp
        <a class="active" href="/letters/notify5_page2">Letter Page 2</a>&nbsp
        <a href="/letters/notify5_leaflet1">Leaflet Page 1</a>&nbsp
        <a href="/letters/notify5_leaflet2">Leaftlet Page 2</a>&nbsp


      </div>
      <br>
      <br>



</div>

<!-- </div> -->
</div>



{% endblock %}
