{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--1" id="main-content" role="main"
  <div class="govuk-grid-column-full">

  <p> <b> You can increase your forecast</b><br><br>


The following years are undecided on your National Insurance record:<br><br>

2017-2018<br>
2018-2019<br>
2019-2020<br><br>

This means there are gaps that have not been included in your State Pension forecast.<br><br>

You can contact HM Revenue and Customs (HMRC) to find out why there are undecided<br>
years on your record. HMRC can tell you whether you can pay for these gaps and how<br>
much it will cost.<br><br>

Call HMRC on 0300 200 3500 or textphone 0300 200 3519. If you live outside of the UK<br>
call +44 191 203 7010.<br><br>


For more information on gaps in your National Insurance record, go to<br>
<a href="https://www.gov.uk/check-national-insurance-record" class="govuk-link" rel="noreferrer noopener" target="_blank">www.gov.uk/check-national-insurance-record</a><br><br>

<b>Your State Pension age</b><br><br>

You will reach State Pension age on 6 April 2032. State Pension age may change in the future.<br><br>



    Yours sincerely<br><br>

    Newcastle Pension Centre, Futures Group<br><br>



    <b>Treating people fairly</b><br><br>

    We are committed to the Equality Act 2010 and treating people fairly. To find out more<br> about this law, search ‘Equality’ on <a href="https://www.gov.uk" class="govuk-link" rel="noreferrer noopener" target="_blank">www.gov.uk</a><br><br>


    <b>Call charges</b><br><br>

    Calls to 0800 numbers are free from personal mobiles and landlines from within the UK.<br><br>


    <b>Why DWP needs personal information and how we treat it</b><br><br>

    We treat personal information carefully. We may use it for any of our purposes. To learn more<br>
     about information rights and how we use information, please see our DWP Personal<br>
      Information Charter at <a href="https://www.gov.uk/dwp/personal-information-charter" class="govuk-link" rel="noreferrer noopener" target="_blank">www.gov.uk/dwp/personal-information-charter</a>


      <br><br><br>

      <div class="pagination">

        <a href="/letters/notify3">Letter page 1</a>&nbsp
        <a class="active" href="/letters/notify3_page2">Letter page 2</a>&nbsp
        <a href="/letters/notify3_leaflet1">Leaflet Page 1</a>&nbsp
        <a href="/letters/notify3_leaflet2">Leaflet Page 2</a>&nbsp

      </div>
</div>

<!-- </div> -->
</div>


  </div>

{% endblock %}
