{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--1" id="main-content" role="main"
  <div class="govuk-grid-column-full">

  <p> <b> You can increase your forecast</b><br><br>

    You have gaps in your National Insurance record that you can fill and make count towards<br> your State Pension.<br><br>

For more information on gaps in your National Insurance record, go to<br>
<a href="https://www.gov.uk/check-national-insurance-record" class="govuk-link" rel="noreferrer noopener" target="_blank">www.gov.uk/check-national-insurance-record</a><br><br>



    Yours sincerely<br><br>

    Newcastle Pension Centre, Futures Group<br><br>



    <b>Treating people fairly</b><br><br>

    We are committed to the Equality Act 2010 and treating people fairly. To find out more<br> about this law, search ‘Equality’ on <a href="https://www.gov.uk" class="govuk-link" rel="noreferrer noopener" target="_blank">www.gov.uk</a><br><br>


    <b>Call charges</b><br><br>

    Calls to 0800 numbers are free from personal mobiles and landlines from within the UK.<br><br>


    <b>Why DWP needs personal information and how we treat it</b><br><br>

    We treat personal information carefully. We may use it for any of our purposes. To learn more<br>
     about information rights and how we use information, please see our DWP Personal<br>
      Information Charter at <a href="https://www.gov.uk/dwp/personal-information-charter" class="govuk-link" rel="noreferrer noopener" target="_blank">www.gov.uk/dwp/personal information charter</a>

      <br><br><br>

      <div class="pagination">

        <a href="/letters/notify2">Letter Page 1</a>&nbsp
        <a class="active" href="/letters/notify2_page2">Letter Page 2</a>&nbsp
        <a href="/letters/notify2_leaflet1">Leaflet Page 1</a>&nbsp
        <a href="/letters/notify2_leaflet2">Leaflet Page 2</a>&nbsp


      </div>
</div>

<!-- </div> -->
</div>


  </div>

{% endblock %}
