{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--1" id="main-content" role="main"
  <div class="govuk-grid-column-full">

<br>
<br>


<p>For more information about paying voluntary National Insurance contributions, go to<br>  <a href="https://www.gov.uk/voluntary-national-insurance-contributions" class="govuk-link" rel="noreferrer noopener" target="_blank">www.gov.uk/voluntary-national-insurance-contributions </a>
<br>

<b>Pension sharing on divorce</b>
<br>
<br>
When a marriage or civil partnership ends, the courts could make a pension sharing order. This is an<br>
amount which is added to or taken away from your State Pension.
<br>
<br>
For more information on your pension sharing order call 0800 731 0175 or  textphone 0800 731 0176.
<br>
<br>
<b>Paying tax on your State Pension</b>
<br>
<br>
You may have to pay tax on your State Pension, depending on your income and the tax rate that<br> applies to you.
<br>
<br>
For more information, go to <a href="https://www.gov.uk/tax-on-pension" class="govuk-link" rel="noreferrer noopener" target="_blank">www.gov.uk/tax-on-pension</a>
<br>
<br>
<b>If you have worked or lived abroad</b>
<br>
<br>
Your State Pension forecast is based on your UK National Insurance record. You may also get a<br>
State Pension from the country you worked or lived in. If you meet the eligibility criteria, you will have<br>
to claim your pension from that country.
<br>
<br>
For more information, go to <a href="https://www.gov.uk/new-state-pension/living-and-working-overseas" class="govuk-link" rel="noreferrer noopener" target="_blank">www.gov.uk/new-state-pension/living-and-working-overseas</a>
<br>
<br>
<b>How to claim your State Pension</b>
<br>
<br>
You will not get your State Pension automatically – you have to claim it. If you live in the UK, you<br>
should get a letter up to 2 months before you reach State Pension age telling you what to do.<br><br>
<a href="https://www.gov.uk/state-pension-if-you-retire-abroad" class="govuk-link" rel="noreferrer noopener" target="_blank">If you live abroad, go to www.gov.uk/state-pension-if-you-retire-abroad</a><br><br>
<b>State Pension if you retire abroad</b><br><br>
If you live outside of the UK, on or around April of each year (when the payments usually increase),<br>
your payments will only increase if you live in:
<br>
<br>
<div>
<ul class="govuk-list govuk-list--bullet">
<li>a European Economic Area (EEA) country</li>
<li>Gibraltar</li>
<li>Switzerland, or</li>
<li>a country that has a social security reciprocal agreement with the UK (this does not include<br>Canada or New Zealand).</li>
</div>
<p>
For more information, including which countries are in the EEA and have a reciprocal agreement with<br>
the UK, go to <a href="https://www.gov.uk/state-pension-if-you-retire-abroad/rates-of-state-pension" class="govuk-link" rel="noreferrer noopener" target="_blank">www.gov.uk/state-pension-if-you-retire-abroad/rates-of-state-pension</a>
<br><br><br>
<hr>
  <p>If you need to contact us, use the contact details at the top of the State Pension forecast letter.
    <br>
    <br>
This leaflet gives you general information only and is not a complete statement of the law.
<hr>
<br><br><br>
<div class="pagination">

  <a href="/letters/notify7">Letter Page 1</a>&nbsp
  <a class="active" href="/letters/notify7_page2">Letter Page 2</a>&nbsp
  <a href="/letters/notify7_leaflet1">Leaflet Page 1</a>&nbsp
  <a href="/letters/notify7_leaflet2">Leaflet Page 2</a>&nbsp

</div>

            </div>
            </div>
            </div>


{% endblock %}
