{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--1" id="main-content" role="main"
  <div class="govuk-grid-column-full">

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
          <div class="app-most-recent">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/88/Department_for_Work_and_Pensions_logo.svg/166px-Department_for_Work_and_Pensions_logo.svg.png" style="width:90px;height:70px;">
</div>
</div>
<div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
            <p class="govuk-body">Newcastle Pension Centre<br>
              The Pension Service 9<br>
              Mail Handling Site A<br>
              Wolverhampton<br>
              WV98 1LU<br><br>
              Telephone 0800 731 0175<br>
              Textphone 0800 731 0176<br><br>
              <p>12 December 2022</p>
              </div>


<div class="govuk-grid-column-one-third">
<p>Address Line 1  <br>
Address Line 2  <br>
Address Line 3  <br>
AA1 1AA
</div>
</div>
                <br>  <br>  <br>

<h3 class="govuk-heading-l">Your State Pension forecast</h3>
<hr>
            <p><b>If you would like braille, British Sign Language, a hearing loop, translations, large print,<br> audio or something else,please telephone 0800 731 0469 or textphone 0800<br> 731 7339.</b></p>


<p class="govuk-body">
            Dear Research Participant,<br>
<br>
<h3 class="govuk-heading-m"><b>You can get your State Pension on 6 September 2027<br>
Your estimate up to 5 April 2022 is <br>
£67.49 a week</b>
<br>
<br>



<p class="govuk-body">

              Your forecast:<br><br>

•	is not a guarantee and is based on the current law<br>
•	does not include any increase due to inflation.
<br>
<br>

<b>State Pension is usually paid every 4 weeks in arrears.</b><br><br>

<b>You need to contribute National Insurance for another 4 years to reach your forecast.</b><br><br>

You have 7 years on your National Insurance record up to 5 April 2022. You need at least<br> 10 years on your record to get any State Pension.<br><br>

When you reach State Pension age on 6 September 2027, you no longer pay National<br> Insurance contributions.

<br><br>

This date may be different if you are self-employed. To find out more go to<br>
<a href="https://www.gov.uk/tax-national-insurance-after-state-pension-age/stopping-paying-national-insurance" class="govuk-link" rel="noreferrer noopener" target="_blank">www.gov.uk/tax-national-insurance-after-state-pension-age/stopping-paying-<br>national-insurance</a><br><br>

Your forecast may be different if there are any changes to your National Insurance<br>
information. There is more about this in the leaflet we have sent you with this letter.<br><br><br>


<div class="pagination">
<p>
  <a href="/letters/notify2">Letters Page 1</a>&nbsp
  <a class="active" href="/letters/notify2_page2">Letters Page 2</a>&nbsp
  <a href="/letters/notify2_leaflet1">Leaflet Page 1</a>&nbsp
  <a href="/letters/notify2_leaflet2">Leaflet Page 2</a>&nbsp


</div>



</div>


</div>


<!-- </div> -->





{% endblock %}
