{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--1" id="main-content" role="main"
  <div class="govuk-grid-column-full">

          <div class="app-most-recent">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/88/Department_for_Work_and_Pensions_logo.svg/166px-Department_for_Work_and_Pensions_logo.svg.png" style="width:90px;height:70px;">

            <h2 class="govuk-heading-l">About your State Pension</h2>


<br><br>
            <P>Your State Pension forecast is provided for your information only. When planning for your retirement,<br>
             you should consider seeking professional advice.<br><br>


            The Money Helper service offers free independent advice. To find out more go to<br>
          <a href="https://www.moneyhelper.org.uk" class="govuk-link" rel="noreferrer noopener" target="_blank">www.moneyhelper.org.uk</a> or call <b>0800 138 7777.</b><br><br>


            Your State Pension forecast letter is based on your National Insurance record at the time you<br>contacted us.
<br><br>

            To check your State Pension forecast go to <a href="https://www.gov.uk/check-state-pension" class="govuk-link" rel="noreferrer noopener" target="_blank">www.gov.uk/check-state-pension</a>
            <br><br>

            <b>Your State Pension age</b><br><br>

            This is the earliest date you can get your State Pension. The State Pension age may change in the<br>future.
<br><br>

        <b>Deferring your State Pension</b><br><br>


            You can claim your State Pension even if you carry on working. You can also delay claiming, which<br>
           means you may get extra State Pension when you do claim it.<br><br>

            To find out more, go to <a href="https://www.gov.uk/deferring-state-pension" class="govuk-link" rel="noreferrer noopener" target="_blank">www.gov.uk/deferring-state-pension</a>
            <br><br>

            <b>Your State Pension forecast may change</b>
          <br><br>

<div>
<ul class="govuk-list govuk-list--bullet">
            <li>you may not reach your State Pension forecast if you do not add any more years to your<br> National Insurance record</li>
            <li>your State Pension forecast is based on the current State Pension rate. This usually goes up<br> every year</li>
            <li>your State Pension forecast is based on your own National Insurance record. In some cases,<br></li>
             you may be able to inherit some State Pension from your husband, wife or civil partner.<br><br>
             </div>
<p>
            For more information about inheriting State Pension, go to <a href="https://www.gov.uk/new-state-pension/inheriting-or-increasing-state-pension-from-a-spouse-or-civil-partner" class="govuk-link" rel="noreferrer noopener" target="_blank">www.gov.uk/new-state-<br>
            pension/inheriting-or-increasing-state-pension-from-a-spouse-or-civil-partner</a><br><br>

            <b>How to get more State Pension</b><br><br>

            You can contribute to your State Pension by:<br><br>
            <div>
            <ul class="govuk-list govuk-list--bullet">
            <li>paying enough National Insurance while working</li>
            <li>being treated as paying National Insurance contributions</li>
            <li>getting National Insurance credits if you are unable to work because of unemployment, illness,<br> disability or caring for someone</li>
            <li>paying voluntary National Insurance contributions.</li>
            </div>
<br><br><br>
<div class="pagination">

  <a href="/letters/notify5">Letter Page 1</a>&nbsp
  <a class="active" href="/letters/notify5_page2">Letter Page 2</a>&nbsp
  <a href="/letters/notify5_leaflet1">Leaflet Page 1</a>&nbsp
  <a href="/letters/notify5_leaflet2">Leaflet Page 2</a>&nbsp

</div>


            </div>
            </div>
            </div>


{% endblock %}
