{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<head>
      <style>
         table, th, td {
           font-family: "GDS Transport", arial, sans-serif;
            border: 1px solid black;
            border-collapse: collapse;
         }
      </style>
   </head>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--1" id="main-content" role="main"
  <div class="govuk-grid-column-full">

    <p>




  <b>    Undecided Years </b>

<p>The following years are undecided on your National Insurance record:

<p>2018-2019<br>
  2019-2020<br>
  2020-2021<br>


<p>This means these years have not been included in your State Pension estimate.

<p>You can contact His Majesty’s Revenue and Customs (HMRC) to find out why there are<br>
undecided years on your record. HMRC can tell you whether you can pay for these years<br>
and how much it will cost.<br>

<p>Call HMRC on <b>0300 200 3500</b> or textphone <b>0300 200 3519</b>. If you live outside of the UK, call<br>
<b>+44 191 203 7010</b>.<br>

<p>  Or go to <b>www.gov.uk</b> and search <b>Contact HMRC</b>

<p>If you can pay for the undecided years, you could increase your
State Pension estimate.




  <p>  <b>What you can do next</b><br><br>

Your State Pension estimate is provided for your information only. When planning for<br>
your retirement, you should consider seeking professional advice.<br><br>

The Money Helper service offers free money and pensions guidance. To find out more go<br> to <b>www.moneyhelper.org.uk</b> or call <b>0800 138 7777.</b><br>


  <p>Your State Pension estimate is based on your National Insurance record at the time you<br>
  contacted us. Your estimate may be different if there are any changes to your National<br> Insurance information.

  <br><br>
      Yours sincerely<br><br>


      Newcastle Pension Centre, Futures Group<br><br>



      <b>Treating people fairly</b><br>
      <p>

      We are committed to the Equality Act 2010 and treating people fairly. To find out more about<br> this law, search ‘Equality’ on <b>www.gov.uk</b><br><br>

      <b>Call charges</b><br><br>

        Calls to 0800 numbers are free from personal mobiles and landlines.<br><br>

      <div class="pagination">

        <a href="/letters/VNICS/VNICS2">Letter Page 1</a>&nbsp
        <a class="active" href="/letters/VNICS/VNICS2_page2">Letter Page 2</a>&nbsp
        <a class="active" href="/letters/VNICS/VNICS2_page3">Letter Page 3</a>&nbsp


      </div>
      <br>
      <br>



</div>

<!-- </div> -->
</div>



{% endblock %}
