{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<head>
      <style>
         table, th, td {
           font-family: "GDS Transport", arial, sans-serif;
            border: 1px solid black;
            border-collapse: collapse;
         }
      </style>
   </head>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--1" id="main-content" role="main"
  <div class="govuk-grid-column-full">

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
          <div class="app-most-recent">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/88/Department_for_Work_and_Pensions_logo.svg/166px-Department_for_Work_and_Pensions_logo.svg.png" style="width:90px;height:70px;">
</div>
</div>
<div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
            <p class="govuk-body">Newcastle Pension Centre<br>
              The Pension Service 9<br>
              Mail Handling Site A<br>
              Wolverhampton<br>
              WV98 1LU<br><br>
              Telephone 0800 731 0175<br>
              Textphone 0800 731 0176<br><br>
              <p>12 December 2022</p>
              </div>


<div class="govuk-grid-column-one-third">
<p>Address Line 1  <br>
Address Line 2 <br>
Address Line 3  <br>
AA1 1AA
</div>
</div>


          <br>  <br>  <br>
          <div class="govuk-grid-row">
<div class="govuk-grid-column-full">
        <br><br>
<h3 class="govuk-heading-l">Your State Pension estimate</h3>
<hr>

            <p><b>If you would like braille, British Sign Language, a hearing loop, translations, large print,<br> audio or something else, please telephone 0800 731 0469 or textphone 0800<br> 731 7339.</b></p>


<p class="govuk-body">
            Dear Research Participant,<br>

          

            <p>  You will reach State Pension age on 15 June 2023. Your current State Pension estimate is<br>
              <b>£169.28</b> a week. Your estimate is based on your National Insurance record up to 5 April<br> 2022.<br><br>

              Your forecast up to 5 April 2023 is <b>£172.65</b> a week.<br><br>

              Your forecast:<br><br>

            <div>
            <ul class="govuk-list govuk-list--bullet govuk-list">
              <li>is not a guarantee and is based on the current law</li>
              <li>does not include any increase because of inflation.</li>
            </div>
              <br><br>

              <p>You need <b>1 qualifying year</b> to increase your State Pension amount.<br><br>
              £172.65 a week is the most you can get.<br><br>

              <b>Ways to increase your State Pension amount</b><br><br>

              You can increase your State Pension amount by:<br><br>
            <div>
              <ul class="govuk-list govuk-list--bullet govuk-list">
              <li>working and making National Insurance contributions</li>
              <li>being treated as paying National Insurance contributions</li>
              <li>getting National Insurance credits if you cannot work because of unemployment,<br> illness, disability or caring for someone</li>
              <li>paying voluntary contributions for past and future tax years.</li>
              </div>
            <br><br>

            <p>
            You have gaps in your National Insurance record that you may be able to fill by paying<br>
            voluntary contributions.<br><br>

            You can only pay for gaps from the last 6 tax years. You can also pay for future tax years if<br>
            you know you will not be making National Insurance contributions.<br>

            <p style="margin-top:6em">page 1 of 3</p>



              <hr style="height:8px;border-width:0;color:gray;background-color:black">
              <br>
              <p>


          <b>    Undecided Years </b>

        <p>The following years are undecided on your National Insurance record:

        <p>2018 to 2019<br>
          2019 to 2020<br>
          2020 to 2021<br>


        <p>This means these years have not been included in your State Pension estimate.

        <p>You can contact His Majesty’s Revenue and Customs (HMRC) to find out why there are<br>
        undecided years on your record. HMRC can tell you whether you can pay for these years<br>
        and how much it will cost.<br>

        <p>Call HMRC on <b>0300 200 3500</b> or textphone <b>0300 200 3519</b>. If you live outside of the UK, call<br>
        <b>+44 191 203 7010</b>.<br>

        <p>  Or go to <b>www.gov.uk</b> and search <b>Contact HMRC</b>

        <p>If you can pay for the undecided years, you could increase your
        State Pension estimate.




          <p>  <b>What you can do next</b><br><br>

        Your State Pension estimate is provided for your information only. When planning for<br>
        your retirement, you should consider seeking professional advice.<br><br>

        The Money Helper service offers free money and pensions guidance. To find out more go<br> to <b>www.moneyhelper.org.uk</b> or call <b>0800 138 7777.</b><br>


          <p>Your State Pension estimate is based on your National Insurance record at the time you<br>
          contacted us. Your estimate may be different if there are any changes to your National<br> Insurance information.

          <br><br>
              Yours sincerely<br><br>


              Newcastle Pension Centre, Futures Group<br><br>



              <b>Treating people fairly</b><br>
              <p>

              We are committed to the Equality Act 2010 and treating people fairly. To find out more about<br> this law, search ‘Equality’ on <b>www.gov.uk</b><br><br>

              <b>Call charges</b><br><br>

                Calls to 0800 numbers are free from personal mobiles and landlines.<br>

                <p style="margin-top:6em">page 2 of 3</p>


                  <hr style="height:8px;border-width:0;color:gray;background-color:black">

                  <br><br>
                  <p>

                  <b>Why DWP needs personal information and how we treat it</b><br><br>

                  We treat personal information carefully. We may use it for any of our purposes. To learn more<br>
                   about information rights and how we use information, please see our DWP Personal<br>
                  Information Charter at <b>www.gov.uk/dwp/personal-information-charter</b><br>

                  <p style="margin-top:6em">page 3 of 3</p>




            </div>

            </div>


            </div>

            <!-- </div> -->

            </div>
            </div>


{% endblock %}
