{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<head>
      <style>
         table, th, td {
           font-family: "GDS Transport", arial, sans-serif;
            border: 1px solid black;
            border-collapse: collapse;
         }
      </style>
   </head>


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--1" id="main-content" role="main"
  <div class="govuk-grid-column-full">

<p>

  You can only pay for gaps from the last 6 tax years. You can also pay for future tax years if<br>
  you know you will not be making National Insurance contributions.<br><br>




    <p>  <b>Gaps in your National Insurance record</b><br><br>

      The table below shows tax years with gaps in your National Insurance record during the last<br>
      6 years, that you can fill and make towards your State Pension. <br><br>

      If you decide to pay for any of these years, we have included the amount your weekly State<br>
      Pension estimate will increase by. <br><br>

      You may be able to reach the maximum weekly amount by continuing to work and make<br>
      National Insurance contributions. <br><br>

      Current State Pension estimate      £100.00 <br><br>

      <table>
      <tr>
          <td style="width:30%"; border: 1px solid;> Tax Year</td>
          <td style="width:30%">Your weekly State<br>Pension estimate will<br>increase by</td>
          <td style="width:30%">This means your<br>new State Pension<br>estimate will be</td>
      </tr>

      <tr>
          <td>2018-2019</td>
          <td>£5.29</td>
          <td>£105.29</td>
      <tr>
          <td>2019-2020</td>
          <td>£5.29</td>
          <td>£110.58</td>


        <tr>
          <td>2020-2021</td>
          <td>£5.29</td>
          <td>£115.87</td>
        </tr>




      </table>
      <br>

      <div>

        <p> For more information on gaps in your National Insurance record, go to <b>www.gov.uk/check<br>
          national-insurance-record</B><br><br>

          <b>How to pay for gaps in your National Insurance record</b><br><br>

          You can contact His Majesty's Revenue and Customes (HMRC) to find out how to pay for the<br>
          gaps in your National Insurance record and how much it will cost.<br><br>

          Call HMRC on <b>0300 200 3500</b> or textphone <b>0300 200 3519</b>. If you live outside of the UK, call<br>
          <b>+44 191 203 7010</b>.<br>

          <p>Or go to <b>www.gov.uk</b>and search <b>Contact HMRC</b>

            <p>  <b>What you can do next</b><br>

          <p>Your State Pension estimate is provided for your information only. When planning for your<br>
           retirement, you should consider seeking professional advice.<br>

          <p>The Money Helper service offers free money and pensions guidance. To find out more go<br>
            <b>to www.moneyhelper.org.uk or call 0800 138 7777.</b>

      <div class="pagination">

        <a href="/letters/VNICS/VNICS4">Letter Page 1</a>&nbsp
        <a class="active" href="/letters/VNICS/VNICS4_page2">Letter Page 2</a>&nbsp
        <a class="active" href="/letters/VNICS/VNICS4_page3">Letter Page 3</a>&nbsp



      </div>
      <br>
      <br>



</div>

<!-- </div> -->
</div>



{% endblock %}
