{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/Alternative-formats/addresstypeCIS">Back</a>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">NI number: QQ 12 34 56 C</span>
          <h1 class="govuk-fieldset__heading">
            What is your home address?
          </h1>
        </legend>



        <div class="govuk-inset-text">
          <p>38 Session Road<br>
          Tamworth<br>
          B79 7JT <br>
          United Kingdom</p>
        </div>
      <br><br>
      <h2 class="govuk-heading-m">Correct address found</h2>

        <form class="form" action="/addressfoundhomecorres-answer" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
      idPrefix: "address-foundhomecorresAF",
      name: "address-foundhomecorresAF",
      fieldset: {
      legend: {
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"

      }
      },
      items: [
      {
      value: "Yes",
      text: "Yes",
      checked: checked("address-foundhomecorresAF", "/Alternative-formats/postcodehomeandcorresAF")
      },
      {
      value: "No",
      text: "No",
      checked: checked("address-foundhomecorresAF", "/Alternative-formats/postcodehomeAF")
      }

      ]
      }) }}


      <br><br>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <br>
      </form>
          </div>
        </div>

      {% endblock %}
