{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">

        <a href="/nino" class="govuk-back-link">Back</a>

        <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
     <form class="form" action="/confirm_answer" method="post">
     <div class="govuk-form-group">
       <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
         <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
           <span class="govuk-caption-l">NI number: QQ 12 34 56 C</span>
           <div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-panel govuk-panel--confirmation">
          <div class="govuk-panel__body">
            Customer name:<br><b>John Eduardo Smith</b>
            </div>
          <div class="govuk-panel__body">
          Date of Birth:<br><b>15 May 1987</b>
          </div>
        </div>
        <br>
         <h2 class="govuk-heading-m">Use this name and date of birth</h2>

         {% from "govuk/components/radios/macro.njk" import govukRadios %}

     {{ govukRadios({
       classes: "govuk-radios--inline",
     idPrefix: "confirm-customer",
     name: "confirm-customer",
     fieldset: {
     legend: {
           isPageHeading: true,
       classes: "govuk-fieldset__legend--l"
     }
     },
     items: [
     {
     value: "yes",
     text: "Yes"
     },
     {
     value: "no",
     text: "No"
}
]


     }) }}
                    </div>
           </div>




     </div>

     {% from "govuk/components/button/macro.njk" import govukButton %}

     {{ govukButton({
       text: "Continue"
     }) }}



{% endblock %}
