
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div>
      <h1 class="govuk-heading-l">You do not have access to view this record</h1>
      <p class="govuk-body">This is a nationally sensitive record.</p>
      <p class="govuk-body">This means we are unable to display the customer's name and date of birth.</p>
      <p class="govuk-body">Select continue to input the details manually.</p>


    </div>
    <div>
      <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>
      </a>
</div>
  </div>
</div>
{% endblock %}
